<head>
  <meta charset='utf-8'>
  <meta content='ecommerce, landing page, teste ab, e-commerce, commerce, venda, meio pagamento' name='keywords'>
  <meta content='Landing Commerce. Checkout expresso para o seu negócio.' name='description'>
  <title>Checkout expresso para o seu negócio - Landing Commerce</title>
  <link href="http://app.landingcommerce.com.br/assets/application.css" media="all" rel="stylesheet" />
  <link href='favicon.png' rel='shortcut icon'>
  <link href="/css/styles.css" media="all" rel="stylesheet" />
  <script src="//cdn.optimizely.com/js/8044021.js"></script>
  <!--[if lt IE 9]>
  <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
  <![endif]-->
  <script>
    //<![CDATA[
      (function(c,b){var a,d,h,e;a=c.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===c.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(a,d);b._i=[];b.init=function(a,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=b;"undefined"!==typeof f?g=
      b[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);b._i.push([a,c,f])};window.mixpanel=b})(document,window.mixpanel||[]);
      mixpanel.init("aba8e8dcc489c87cc50f66250867e583");
    //]]>
  </script>
</head>