<head>
  <script src="//cdn.optimizely.com/js/8044021.js"></script>
  <meta charset='utf-8'>
  <meta content='ecommerce, landing page, teste ab' name='keywords'>
  <meta content='Landing commerce. Sistema expresso de checkout de compras.' name='description'>
  <title>Sistema expresso de checkout de compras - Landing Commerce</title>
  <link href='http://app.landingcommerce.com.br/favicon.png' rel='shortcut icon'>
  <link href="http://app.landingcommerce.com.br/assets/application.css" media="all" rel="stylesheet" />
  <link href="/css/styles.css" media="all" rel="stylesheet" />
  <script src="http://app.landingcommerce.com.br/assets/application.js"></script>
  <!--[if lt IE 9]>
  <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
  <![endif]-->
</head>
