<head>
  <meta charset='utf-8'>
  <meta content='ecommerce, landing page, teste ab, e-commerce, commerce, venda, meio pagamento' name='keywords'>
  <meta content='Landing Commerce. Checkout expresso para o seu negócio.' name='description'>
  <title>Checkout expresso para o seu negócio - Landing Commerce</title>
  <link href="http://app.landingcommerce.com.br/assets/application.css" media="all" rel="stylesheet" />
  <link href='favicon.png' rel='shortcut icon'>
  <link href="/css/styles.css" media="all" rel="stylesheet" />
  <script src="//cdn.optimizely.com/js/8044021.js"></script>
  <script src="http://app.landingcommerce.com.br/assets/application.js"></script>
  <!--[if lt IE 9]>
  <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
  <![endif]-->
</head>