<!DOCTYPE html>
<html lang='pt'>
  {% include head.html %}
  <body id="landing">
    <header>
      <div id='logo'><a href="http://www.landingcommerce.com.br/">Landing Commerce</a></div>
      <div id='tagline'>A forma mais rápida de colocar seus produtos a venda!</div>
    </header>
    <hr>
    <div id='container'>
      {{ content }}
    </div>
    <hr>
      <footer>
        <p>
          Copyright &copy; 2012
          <a href="http://www.helabs.com.br">HE:labs</a>
        </p>
        <p>
          <br/>
          <a href="http://mixpanel.com/f/partner"><img src="http://mixpanel.com/site_media/images/partner/badge_blue.png" alt="Real Time Web Analytics" /></a>
        </p>
      </footer>
  </body>
</html>
