<!DOCTYPE html>
<html lang='pt'>
  {% include head.html %}
  <body id="landing">
    <header>
      <div id='logo'><a href="http://www.landingcommerce.com.br/">Landing Commerce</a></div>
      <div id='tagline'>A forma mais rápida de colocar seus produtos a venda!</div>
    </header>
    <hr>
    <div id='container'>
      {{ content }}
    </div>
    <hr>
      <footer>
        <p>
          Copyright &copy; 2012
          <a href="http://www.helabs.com.br">HE:labs</a>
        </p>
      </footer>
      <script>
        //<![CDATA[
          var __lc = {};
          __lc.license = 1045221;
          __lc.skill = 2;

          (function() {
            var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
            lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
          })();
        //]]>
      </script>
  </body>
</html>
